/* * {
    box-sizing: border-box;
  } */
  
  body {
    font-family: "Sofia", sans-serif;
    /* padding: 20px; */
    background: #FFF1DC;
  }

/*  */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-self: auto;
   
  }
  
  /* Header/Blog Title */
  .header {
      margin: 5px;
      padding: 5px;
      font-size: 40px;
      justify-content: center;
      position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .content{
    color: #A7727D;
    font-weight: bolder;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    font-family: "Trirong", serif;
    background-color: #E8D5C4;
    padding: 20px;
    margin: 20px;
  }

  .card_property{
    color: #aaa;
   
  }

  .card_header{
    color: #579BB1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    display: auto;
    text-align: center;
    background: #EEEEEE;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  a:link, a:visited {
    background-color: #3A98B9;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #aaa;
  }

.footer__social{
  font-size: 30px;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
}
.footer__socials{
    justify-self: flex-end;
}
.footer__copy{
    margin-top: 4.5rem;
}